.banner-wrapper {
	width: 100%;
}
.banner-image {
	display: block;
	margin: auto;
	@media (min-width: $content-width) {
		padding: 1em;
	}
	max-height: 480px;
}
.project-desc {
	text-align: justify;
}

