.collapsible {
	button {
		font: inherit;
		background: inherit;
		border: inherit;
		display: inline;
	}

	button:focus svg {
		outline: 2px solid;
	}
	
	button svg {
		height: 1em;
		margin-left: 0.5em;
		transform: translate(0, 0.15em);
		cursor: pointer;
	}

	[aria-expanded="true"] .vert {
		display: none;
	}

	[aria-expanded] rect {
		fill: currentColor;
	}
}