.staff {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;

	.card {
		display: flex;
		flex-direction: column;
		flex: 0 1 200px;
		justify-content: flex-start;
		margin: 1em;
		padding: 1em;
		border-style: solid;
		border-width: 1px;
		height: auto;

		&:nth-child(odd):last-child {
			display: none;
		}
		
		&:nth-child(even):last-child {
			visibility: hidden;
			
			@include media-query($on-palm) {
				display: none;
			}
		}

		.thumb {
			display: block;
			max-height: 240px;
			max-width: 100%;
			margin: auto;
		}
	
		.text-wrapper {

			.title {
				text-align: center;
			}

			.desc {
				overflow: scroll;
				text-overflow: wrap;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				line-height: 1.5em;        /* fallback */
				height: 7.5em;       /* fallback */
			}

			.links {
				float: right;
				height: 1em;
	
				.proj-link-icon > .svg-icon {
					fill: $dark-background-color;
				}
			}
		}	
	}
}