---

---

.mp-content {
	h2 button,h3 button {
		all: inherit;
		border: 0;
		display: inline;
		padding: 0.5em 0;
	}

	h2 button:focus svg, h3 button:focus svg {
		outline: 2px solid;
	}
	  
	button svg {
		height: 1em;
		margin-left: 0.5em;
	}

	[aria-expanded="true"] .vert {
		display: none;
	}

	[aria-expanded] rect {
		fill: currentColor;
	}

}