---
---
@import "minima";

.site-footer > .wrapper {
  display: flex;
  flex-direction: column;
}

.footer-col-wrapper {
  display: flex;
  flex-direction: row;
}

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-top: none;
  border-bottom-color: transparent;
  background-color: $dark-background-color;

  min-height: 70px;
  transition: all .5s;

  display: flex;
  align-items: center;
}

.site-header-scrolled {
  min-height: 56px;
}

.site-header > .wrapper {
  width: 100%;
  position: relative;

  .site-title {
    letter-spacing: unset;
  }
  @include media-query($on-palm) {
    margin-left: 0;
    max-width: calc(100vw - 30px);

    .site-nav {
      position: absolute;
      top: 50%;
      transform: translateY(-18px);
      right: $spacing-unit/2;
    }
  }
}

.page-content {
  margin-top: 4em;
}

.site-title, .site-title:visited {
  color: white;
}

.site-nav .trigger .page-link {
  color: white;
  margin-left: 1em;
  margin-right: 1em;
  @include media-query($on-palm) {
    color: black;
  }
}

.anchorjs-link {
	transition: all .17s linear;
	color: #e63;
	
	&:hover {
		text-decoration: none;
	}

	&:visited {
		color: #e63;
	}
}
.post-content h1 {
	font-size: 42px;
}

.post-content hr {
	margin: 1em auto;
}

@import 
  "vrsite/assignments",
  "vrsite/calendar",
  "vrsite/gallery",
  "vrsite/project";
