---
---
@import "minima";

.site-footer > .wrapper {
  display: flex;
  flex-direction: column;
}

.footer-col-wrapper {
  display: flex;
  flex-direction: row;

  .footer-col {
    float: unset;
    width: unset;
  }
  .footer-col-2 {
    margin-left: auto;
  }
}

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-top: none;
  border-bottom-color: transparent;
  background-color: #131F33;

  min-height: 70px;
  transition: all .5s;

  display: flex;
  align-items: center;
}

.site-header-scrolled {
  min-height: 56px;
}

.site-header > .wrapper {
  width: 100%;

  .site-title {
    letter-spacing: unset;
  }

  .site-nav {
    position: unset;
    top: unset;
    right: unset;
    transform: translateY(25%);

    @media screen and (min-width: 600px) {
      transform: unset;
    }
  }
}

.page-content {
  margin-top: 4em;
}

.site-title, .site-title:visited {
  color: white;
}

.site-nav .trigger .page-link {
  color: black;
  margin-left: 1em;
  margin-right: 1em;
  @media screen and (min-width: 600px) {
    color: white;
  }
}
