/* line 16, ../sass/styles.scss */
html * {
  box-sizing: border-box;
}

/* line 18, ../sass/styles.scss */
.clear {
  clear: both;
}

/* line 20, ../sass/styles.scss */
h1 {
  color: #f47f24;
}

/* line 24, ../sass/styles.scss */
body {
  background: url("../images/illinihacker1.jpg") no-repeat top left fixed;
  background-color: black;
  background-size: cover;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  height: 100%;
}

/* line 33, ../sass/styles.scss */
a {
  color: #f47f24;
}

/* line 34, ../sass/styles.scss */
a:hover {
  color: #001e3f;
}

/* line 37, ../sass/styles.scss */
main {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/susy-2.2.6/sass/susy/output/support/_clearfix.scss */
main:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 41, ../sass/styles.scss */
#content-area {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  clear: both;
  margin-top: 0.93458%;
}
/* line 12, ../../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/susy-2.2.6/sass/susy/output/support/_clearfix.scss */
#content-area:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 48, ../sass/styles.scss */
#photo, #class-info, #cs-header, #content {
  margin-bottom: 0.93458%;
}

/* line 52, ../sass/styles.scss */
header {
  width: 100%;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.5);
  float: left;
}
/* line 58, ../sass/styles.scss */
header #class-branding {
  width: 20%;
  float: left;
}
/* line 63, ../sass/styles.scss */
header h3 {
  color: white;
  margin: 0;
  display: inline;
}
/* line 65, ../sass/styles.scss */
header #menu-toggle {
  display: none;
}
/* line 67, ../sass/styles.scss */
@media screen and (max-width: 768px){
header nav {
  float: right;
  display: none;
  width: 80%;
  margin: 0;
  text-align: center;
  position: relative;
  z-index:1000;
}
}
header nav.toggled {
  float: right;
  display: block;
  width: 100%;
  margin: 0;
  text-align: center;
  position: relative;
  z-index:1000;
}

/* line 76, ../sass/styles.scss */
header nav a {
  padding: 4px 10px;
  font-weight: 700;
  font-size: .9rem;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
/* line 85, ../sass/styles.scss */
header nav a:hover {
  color: white;
  text-decoration: underline;
}
/* line 90, ../sass/styles.scss */
header nav li {
  display: inline-block;
  float: none;
}

/* line 97, ../sass/styles.scss */
#cs-header {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  background: url("../images/titlebar.png") no-repeat top left;
  background-size: auto 100%;
  background-color: #f47f24;
  text-align: center;
  margin-top: 0.93458%;
}
/* line 105, ../sass/styles.scss */
#cs-header h2 {
  color: white;
}

/* line 110, ../sass/styles.scss */
#photo {
  width: 66.35514%;
  float: left;
  margin-right: 0.93458%;
  background: url("../images/OculusGrandma.jpg") no-repeat center center;
  background-color: black;
  background-size: cover;
  height: 400px;
}

/* line 118, ../sass/styles.scss */
#class-info {
  width: 32.71028%;
  float: right;
  margin-right: 0;
  padding: 2em;
  background-color: #001e3f;
  height: 400px;
  font-size: 1.5rem;
  color: white;
}

/* line 127, ../sass/styles.scss */
#content {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  padding: 1em 7.47664%;
  clear: both;
}

/* line 133, ../sass/styles.scss */
footer {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  background-color: white;
}
/* line 12, ../../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/susy-2.2.6/sass/susy/output/support/_clearfix.scss */
footer:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 139, ../sass/styles.scss */
#cs-branding {
  width: 32.71028%;
  float: left;
  margin-right: 0.93458%;
  padding: 2em;
  background-color: black;
  text-align: center;
  vertical-align: center;
  min-height: 165px;
}
/* line 147, ../sass/styles.scss */
#cs-branding img {
  margin: 1em 0;
}

/* line 150, ../sass/styles.scss */
#dept-info {
  width: 66.35514%;
  float: right;
  margin-right: 0;
  padding: 2em;
  background-color: #001e3f;
  height: 165px;
}
/* line 156, ../sass/styles.scss */
#dept-info p {
  color: white;
}

/* line 159, ../sass/styles.scss */
table {
  border: none;
}
/* line 162, ../sass/styles.scss */
table th {
  background-color: #f47f24;
  padding: 15px;
  color: white;
}
/* line 168, ../sass/styles.scss */
table td {
  background-color: #e8e8e8;
  padding: 10px;
}

/* line 174, ../sass/styles.scss */
ul.gallery {
  padding: 7.47664%;
  list-style: none;
}

/* line 179, ../sass/styles.scss */
.gallery li {
  width: 42.4382%;
  float: left;
  margin-bottom: 4.88679%;
  text-align: center;
}
/* line 66, ../../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/susy-2.2.6/sass/susy/language/susy/_gallery.scss */
.gallery li:nth-child(2n + 1) {
  margin-left: 0;
  margin-right: -100%;
  clear: both;
  margin-left: 0;
}
/* line 66, ../../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/susy-2.2.6/sass/susy/language/susy/_gallery.scss */
.gallery li:nth-child(2n + 2) {
  margin-left: 58.5618%;
  margin-right: -100%;
  clear: none;
}
/* line 184, ../sass/styles.scss */
.gallery li img {
  max-width: 100%;
}
/* line 186, ../sass/styles.scss */
.gallery li:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  /* line 195, ../sass/styles.scss */
  header #class-branding {
    width: 40%;
  }
  /* line 199, ../sass/styles.scss */
  header #menu-toggle,
  header #main-nav.toggled ul {
    display: block;
    margin: 10px auto;
    position: relative;
    z-index:1000;

  }
  /* line 205, ../sass/styles.scss */
  header button#menu-toggle {
    border-radius: 0;
    box-shadow: none;
    background: transparent;
    text-shadow: none;
    border: none;
    font-weight: 600;
    font-size: 1.4rem;
    color: white;
    padding: 5px 10px 5px;
    text-decoration: none;
  }
  /* line 218, ../sass/styles.scss 
  header #main-nav ul {
    display: none;
    background: #001e3f;
    padding: 1em 0;
    top: 6px;
    right: 0;
    border: 4px solid white;
    position:relative;
  }
*/
  /* line 228, ../sass/styles.scss */
  header nav.toggled ul li {
    display: block;
    width: 100%;
    padding: 1em;
  }

  /* line 235, ../sass/styles.scss */
  #photo {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    background: url("../images/OculusGrandma.jpg") no-repeat center center;
    background-color: black;
    background-size: cover;
    height: 250px;
  }

  /* line 243, ../sass/styles.scss */
  #class-info {
    width: 100%;
    float: right;
    margin-right: 0;
    padding: 2em;
    text-align: center;
    background-color: #001e3f;
    font-size: 1rem;
    color: white;
    height: 250px;
  }

  /* line 253, ../sass/styles.scss */
  #cs-branding {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    padding: 2em;
    min-height: 125px;
  }
  /* line 258, ../sass/styles.scss */
  #cs-branding img {
    margin: 1em 0;
  }

  /* line 261, ../sass/styles.scss */
  #dept-info {
    width: 100%;
    float: right;
    margin-right: 0;
    padding: 2em;
    text-align: center;
    height: auto;
  }

  /* line 268, ../sass/styles.scss */
  table, thead, tbody, th, td, tr {
    display: block;
  }

  /* line 272, ../sass/styles.scss */
  table {
    border: 0;
    width: 100%;
    border-collapse: collapse;
    /* Hide table headers (but not display: none;, for accessibility) */
  }
  /* line 278, ../sass/styles.scss */
  table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  /* line 284, ../sass/styles.scss */
  table td {
    /* Behave  like a "row" */
    border: none;
    position: relative;
    padding-left: 50%;
  }
  /* line 291, ../sass/styles.scss */
  table tr {
    margin-bottom: 1em;
  }
  /* line 293, ../sass/styles.scss */
  table th.week {
    position: relative;
  }
  /* line 294, ../sass/styles.scss */
  table td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 10px;
    left: 6px;
    bottom: 15px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  /* line 306, ../sass/styles.scss */
  .gallery li {
    width: 100%;
    float: left;
    margin-bottom: 1.88679%;
    clear: both !important;
  }
  /* line 66, ../../../../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/susy-2.2.6/sass/susy/language/susy/_gallery.scss */
  .gallery li:nth-child(1n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: none;
  }
  /* line 311, ../sass/styles.scss */
  .gallery li:nth-last-child(-n + 3) {
    clear: both;
  }
}