---
layout: page
sections: mp-content
---

<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML' defer></script>

{% if page.parts %}
	<h4>Due Dates:</h4>
	{% for part in page.parts %}
		{{ part.title }}: <strong>{{ part.due }}</strong><br>
	{% endfor %}
{% else %}
	<h4>Due: <strong>{{ page.due }}</strong></h4>
{% endif %}

<hr>

{% if page.material %}
	<h4>Provided Material:</h4>
	<ul>
	{% for thing in page.material %}
	<li><a href="{{ thing.url }}">{{ thing.name }}</a></li>
	{% endfor %}
	</ul>
	<hr>
{% endif %}

{% unless page.notes == false %}
	<h2>Important Notes</h2>
	{% capture notes %}{% include_relative important_notes.md %}{% endcapture %}
	{{ notes | markdownify }}
	<hr>
{% endunless %}

<div class="toc">
<h3 id="toc">Table of Contents</h3>

{% include toc.html html=content h_max=4 %}
</div>

<hr>

<div class="mp-content">
	{{ content }}
</div>

{% unless page.instructions == false %}
	<hr>
	<h2>Submission Instructions</h2>
	{% capture instr %}{% include_relative submission_instructions.md %}{% endcapture %}
	{{ instr | markdownify }}
{% endunless %}

{% if page.rubric %}
	<hr>
	<table id="rubric">
	{%- assign total = 0 %}
	<thead><tr>
		<th>Name</th>
		<th>Points</th>
		<th>Description</th>
	</tr></thead>
	
	<tbody>
	{% for item in page.rubric %}
	<tr>
		<td>
			{{ item.name }}
		</td>
		<td>
			{{ item.points }}
			{% if item.extra != true %}
				{% assign total = total | plus: item.points %}
			{% endif %}
		</td>
		<td>
			{{ item.description }}
		</td>
	</tr>
	{% endfor %}
	</tbody>
	
	<tfoot style='background-color:#ddd;'>
	<tr>
		<td>Total</td>
		<td>{{ total }}</td>
		<td></td>
	</tr>
	</tfoot>
	
	</table>
	
	{% assign temp = page.points | plus: 0 %}
	{% if page.points and temp != total %}
		<p>The given total number of points ({{ page.points }}) does not match the summed total of points from the rubric.</p>
	{% endif %}
{% endif %}
