---
layout: page
---

<link rel="stylesheet" href="/assets/css/assignment.css" type="text/css" />
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML' async></script>

{% if page.parts %}
	<h4>Due Dates:</h4>
	{% for part in page.parts %}
		{{ part.title }}: <strong>{{ part.due }}</strong><br>
	{% endfor %}
{% else %}
	<h4>Due: <strong>{{ page.due }}</strong></h4>
{% endif %}

<hr>

{% if page.material %}
	<h4>Provided Material:</h4>
	<ul>
	{% for thing in page.material %}
	<li><a href="{{ thing.url }}">{{ thing.name }}</a></li>
	{% endfor %}
	</ul>
	<hr>
{% endif %}

{% unless page.notes == false %}
	<h2>Important Notes</h2>
	{% capture notes %}{% include_relative important_notes.md %}{% endcapture %}
	{{ notes | markdownify }}
	<hr>
{% endunless %}

<div class="mp-content">
	{{ content }}
</div>

{% unless page.instructions == false %}
	<hr>
	<h2>Submission Instructions</h2>
	{% capture instr %}{% include_relative submission_instructions.md %}{% endcapture %}
	{{ instr | markdownify }}
{% endunless %}

{% if page.rubric %}
	<hr>
	<table id="rubric">
	{%- assign total = 0 %}
	<thead><tr>
		<th>Name</th>
		<th>Points</th>
		<th>Description</th>
	</tr></thead>
	
	<tbody>
	{% for item in page.rubric %}
	<tr>
		<td>
			{{ item.name }}
		</td>
		<td>
			{{ item.points }}
			{% if item.extra != true %}
				{% assign total = total | plus: item.points %}
			{% endif %}
		</td>
		<td>
			{{ item.description }}
		</td>
	</tr>
	{% endfor %}
	</tbody>
	
	<tfoot style='background-color:#ddd;'>
	<tr>
		<td>Total</td>
		<td>{{ total }}</td>
		<td></td>
	</tr>
	</tfoot>
	
	</table>
	
	{% assign temp = page.points | plus: 0 %}
	{% if temp != total %}
		<p>The given total number of points ({{ page.points }}) does not match the summed total of points from the rubric.</p>
	{% endif %}
{% endif %}

<script type="text/javascript">
(function() {
  // Get all the <h2> headings
  const headings = document.querySelectorAll('.mp-content h2,.mp-content h3')
  
  Array.prototype.forEach.call(headings, heading => {
    // Give each <h2> a toggle button child
    // with the SVG plus/minus icon
    heading.innerHTML = `
      <button aria-expanded="true">
        ${heading.textContent}
        <svg aria-hidden="false" focusable="true" viewBox="0 0 10 10">
          <rect class="vert" height="8" width="2" y="1" x="4"/>
          <rect height="2" width="8" y="4" x="1"/>
        </svg>
      </button>
    `
    
    // Function to create a node list 
    // of the content between this <h2> and the next
    const getContent = (elem) => {
	  let elems = [], tag = elem.tagName
      while (elem.nextElementSibling && elem.nextElementSibling.tagName !== tag && elem.nextElementSibling.tagName !== 'H2') {
        elems.push(elem.nextElementSibling)
        elem = elem.nextElementSibling
      }
      
      // Delete the old versions of the content nodes
      elems.forEach((node) => {
        node.parentNode.removeChild(node)
      })

      return elems
    }
    
    // Assign the contents to be expanded/collapsed (array)
    let contents = getContent(heading)
    
    // Create a wrapper element for `contents` and hide it
    let wrapper = document.createElement('div')
    wrapper.hidden = false
    
    // Add each element of `contents` to `wrapper`
    contents.forEach(node => {
      wrapper.appendChild(node)
    })
    
    // Add the wrapped content back into the DOM 
    // after the heading
    heading.parentNode.insertBefore(wrapper, heading.nextElementSibling)
    
    // Assign the button
    let btn = heading.querySelector('button')
    
    btn.onclick = () => {
      // Cast the state as a boolean
      let expanded = btn.getAttribute('aria-expanded') === 'true' || false
      
      // Switch the state
      btn.setAttribute('aria-expanded', !expanded)
      // Switch the content's visibility
      wrapper.hidden = expanded    
    }
  })
})()
</script>