<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  {% if page.custom-css %}
    {% for stylesheet in page.custom-css %}
      <link rel="stylesheet" href="/assets/css/{{ stylesheet }}.css" type="text/css" />
	   {% endfor %}
  {% endif %}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

    <script src="{{ "/assets/customer-scripts.js" | prepend: site.baseurl }}" type="text/javascript"></script>

  </body>

</html>
