<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {%- include head.html -%}
  {%- include dyslexic.html -%}
  <body style="font-family:Arial">
    {%- include header.html -%}
    <main id="body1" style="font-family:Arial" class="page-content" aria-label="Content">
    {%- include dropdown.html -%}
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}
    
    <!-- anchors -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.1/anchor.js"></script>
    <script>anchors.add()</script>

    <script src="{{ '/assets/customer-scripts.js' | prepend: site.baseurl }}" type="text/javascript"></script>

  </body>
  {%- include script.html -%}
</html>
