---
layout: page
---
{% if page.parts %}
{{ "#### Due Dates:" | markdownify }}
{% for part in page.parts %}
	{{ part.title }}: <strong>{{ part.due }}</strong><br>
{% endfor %}
{% else %}
	<h4>Due: <strong>{{ page.due }}</strong></h4>
{% endif %}
<hr>
{% if page.material %}
	{{ "#### Supporting Material:" | markdownify }}
	{% for thing in page.material %}
	{{ thing | markdownify }}
	{% endfor %}
	<hr>
{% endif %}
{% unless page.notes == false %}
	{{ "## Important Notes:" | markdownify }}
	{% capture notes %}{% include_relative important_notes.md %}{% endcapture %}
	<strong>{{ notes | markdownify }}</strong>
	<hr>
{% endunless %}
{{ content }}
<hr>
{% unless page.instructions == false %}
{{ "## Submission Instructions:" | markdownify }}<br>
{% capture instr %}{% include_relative submission_instructions.md %}{% endcapture %}
{{ instr | markdownify }}
<hr>
{% endunless %}