---
layout: page
---
<div class="banner-wrapper">
	<img class="banner-image" src="{{ page.image }}" alt=" {{ page.title }} image" />
</div>
<br>
{% if page.github %}
<a href="{{ page.github }}" target="_blank" rel="noopener" class="proj-link github"><svg class="svg-icon" alt="GitHub"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg></a>
{% endif %}
{% if page.youtube %}
<a href="https://youtube.com/watch?v={{ page.youtube }}" target="_blank" rel="noopener" class="proj-link youtube"><svg class="svg-icon" alt="YouTube"><use xlink:href="{{ '/assets/minima-social-icons.svg#youtube' | relative_url }}"></use></svg></a>
{% endif %}
{% if page.link %}
<a href="{{ page.link }}" target="_blank" rel="noopener" class="proj-link link"><svg class="svg-icon" alt="Project Link"><use xlink:href="{{ '/assets/icons.svg#link' | relative_url }}"></use></svg></a>
{% endif %}
{% if page.dl %}
<a href="{{ page.dl }}" target="_blank" rel="noopener" class="proj-link dl"><svg class="svg-icon" alt="Download Link"><use xlink:href="{{ '/assets/icons.svg#download' | relative_url }}"></use></svg></a>
{% endif %}
<hr>
<div class="project-desc">
{% if page.content %}
	{{ page.content }}
{% else %}
	{{ page.desc | markdownify }}
{% endif %}
</div>
