---
layout: page
---
<div class="banner-wrapper">
	{% if page.image %}
	<img class="banner" src="{{ page.image }}" alt="{{ page.title }} image" />
	{% elsif page.youtube %}
	<iframe class="banner youtube" src="https://www.youtube.com/embed/{{ page.youtube }}"  alt="{{ page.title }} YouTube Video" frameborder="0"></iframe>
	{% endif %}
</div>
<div class="links-container">
{% if page.github %}
	<a href="{{ page.github }}" target="_blank" rel="noopener" class="proj-link github">
		GitHub
		<svg class="svg-icon" alt="GitHub"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg>
	</a>
{% endif %}

{% if page.youtube %}
	<a href="https://youtube.com/watch?v={{ page.youtube }}" target="_blank" rel="noopener" class="proj-link youtube">
		YouTube
		<svg class="svg-icon" alt="YouTube"><use xlink:href="{{ '/assets/minima-social-icons.svg#youtube' | relative_url }}"></use></svg>
	</a>
{% endif %}

{% if page.link %}
	<a href="{{ page.link }}" target="_blank" rel="noopener" class="proj-link link">
		Project Page
		<svg class="svg-icon" alt="Project Link"><use xlink:href="{{ '/assets/icons.svg#link' | relative_url }}"></use></svg>
	</a>
{% endif %}

{% if page.dl %}
	<a href="{{ page.dl }}" target="_blank" rel="noopener" class="proj-link dl">
		Download
		<svg class="svg-icon" alt="Download Link"><use xlink:href="{{ '/assets/icons.svg#download' | relative_url }}"></use></svg>
	</a>
{% endif %}
</div>
<hr>
<div class="project-desc">
{% assign content = page.content | strip %}
{% unless content == '' %}
	{{ content }}
{% else %}
	{{ page.desc | markdownify }}
{% endunless %}
</div>