---
layout: page
---
<div class="banner-wrapper">
	<img class="banner-image" src="{{ page.image }}" alt=" {{ page.title }} image" />
</div>
<br>
{% if page.github %}
<a href="{{ page.github }}" target="_blank" class="proj-link github" alt="GitHub"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg></a>
{% endif %}
{% if page.youtube %}
<a href="{{ page.youtube }}"><svg class="svg-icon" class="proj-link youtube" alt="YouTube"><use xlink:href="{{ '/assets/minima-social-icons.svg#youtube' | relative_url }}"></use></svg></a>
{% endif %}
<hr>
<div class="project-desc">
{% if page.content %}
	{{ page.content }}
{% else %}
	{{ page.desc | markdownify }}
{% endif %}
</div>